<header>
    <div id="menu-bar" class="fas fa-bars"> </div>
    <a style="text-decoration: none;" href="/restaurant" class="logo" title="الرئيسية"><span>لـ</span>قمة عيش</a>
    <div class="dropdown">
        <div class="icons">
            <a href = "/user" class="fas fa-user" id="login-btn" title="الملف الشخصي"></a>
            <a style="text-decoration: none;" href="/logout" class="fas fa-sign-out-alt" title="تسجيل الخروج"></a>
        </div> 
    </div>
</header>
