<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لقمة عيش</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div id="menu-bar" class="fas fa-bars"></div>

    <a style="text-decoration: none;" href="/charity" class="logo"><span>لـ</span>قمة عيش</a>
    <nav class="navbar">
        <a style="text-decoration: none;" href="#packages">المطاعم</a>
        <a style="text-decoration: none;" href="/changePassword">تغيير كلمة المرور</a>
        <a style="text-decoration: none;" href="/DeleteAcount">الغاء العضوية</a>
    </nav>
    <div class="dropdown">
        <div class="icons">
            <a style="text-decoration: none;" href="/logout" class="fas fa-sign-out-alt"></a>
            <a href = "/user" class="fas fa-user" id="login-btn"></a>
        </div> 
    </div>

</header>

<!-- packages section starts  -->

<section class="packages" id="packages">

    <h1 class="heading">
        <span>ا</span>
        <span>لـ</span>
        <span>ـمـ</span>
        <span>طـ</span>
        <span>ا</span>
        <span>عـ</span>
        <span>ـم</span>
    </h1>
   
    <div class="box-container">
        <% 
            if(resdata.length > 0 ){
                resdata.forEach((item) => { %>
                    <div class="box">
                        <img src="imags/١١.png" alt="">
                        <div class="content 1">
                            <h3> <i class="fas fa-map-marker-alt"></i> مطعم <%= item.name %> </h3>
                            <br><br>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <br><br><br><br>
                            <form action="/viewRes/page/<%= item.id %>" method ="GET">
                            <button href="#services" class="btn" type="submit">  تفقد المطعم </button>
                        </form>
                        <form action = "/profile/display/<%= item.id %>?" method = "POST">
                            <button class="btn" type="submit">  عرض معلومات المطعم </button>
                        </form>
                        </div>
                    </div>
                    <% 
                })     
            }
        %>
    
        </div>
    
    </section>
    
    <!-- packages section ends -->
    
    </body>
    </html>