<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include("./partials/head") %>
    <body>
        <%- include("./partials/header1") %>

        <%- include("./partials/charHomeContent") %>  
    
    </body>
</html>