<!DOCTYPE html>
<html lang="ar">
    <%- include("./partials/head") %>

<body>
    <%- include("./partials/header3") %>
   
    <div class="login-form-container">
        <form  action="/deleteacount/delete?_method=DELETE" method="POST">
            <p style="color: black; font-family:'Times New Roman', Times, serif;font-size:xx-large"> حذف حسابك</p><br>
            <h1  style="font-family: Simplified Arabic ,'Vazirmatn', sans-serif; text-align:center; size:14px";class="labels">هل انت متأكد من حذف الحساب؟</h1><br>
            <input type="submit" value="تأكيد" class="btn">
        </form>
    </div>
</body>