<!DOCTYPE html>
<html lang="ar">
    <%- include("./partials/head") %>

<body>
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
        <a style="text-decoration: none;" href="/restaurant" class="logo"><span>لـ</span>قمة عيش</a>
        <div class="dropdown">
            <div class="icons">
                <i class="fas fa-search" id="search-btn"></i>
                <i class="fas fa-user" id="login-btn"></i>
            </div> 
        </div>
    </header>
    <div class="login-form-container">    
        <form  action="/Login" method="GET">
            <h3>انتهاء مدة الطلب</h3><br>
            <h1 style="text-align:center ;"> انتهت مدة الطلب، الرجاء تسجيل الدخول مجددا للمتابعة</h1><br>
            <input type="submit" value="تسجيل الدخول" class="btn">
        </form>
    
    </div>



</body>