<!DOCTYPE html>
<html lang="ar">
    <%- include("./partials/head") %>

<body>
    <%- include("./partials/header2") %>
    <div class="login-form-container top">    
        <form  action="/Login" method="GET">
            <h3>انتهاء مدة الطلب</h3><br>
            <h1 style="text-align:center ;"> انتهت مدة الطلب، الرجاء تسجيل الدخول مجددا للمتابعة</h1><br>
            <input type="submit" value="تسجيل الدخول" class="btn">
        </form>
    
    </div>



</body>