<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header1") %>

    <%- include("./partials/charHomeContent") %> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src = "/menu.js"></script>
</body>
</html>